/* twitter-bootstrap */
@import "./bootstrap.min.css";

/* font-awesome */
@import "./font-awesome.min.css";

/* admin-lte */
@import "./AdminLTE.min.css";
@import "./_all-skins.min.css";

.users-list>li {
    width: 16%;
}

.users-list>li img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.users-list>li img.error {
    border: 3px dashed red;
}

.users-list>li a {
    margin: 5px;
    display: block;
}